
.connected-content-button {
  background-color: white;
  border: 1px solid #666666;
  color: #666666;
  border-radius: 5px;
  padding: 0.7rem 0.7rem 0.7rem 2.5rem;
  position: relative;
}

.connected-content-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0.6rem;
  background: rgba(0,0,0,0) url("../assets/show-list-gray.svg") no-repeat;
  background-size: 2.5rem;
  background-position: 50% 100%;
}

.connected-content-button.source {
  background: white url("../assets/bron-gray-icon.svg") no-repeat;
  background-position: 0.8rem 50%;
  background-size: 1rem;
}

.connected-content-button-wrapper:not(.close) .connected-content-button.source, .connected-content-button.source:hover {
  background: #666666 url("../assets/bron-white-icon.svg") no-repeat;
  background-position: 0.8rem 50%;
  background-size: 1rem;
  color: white;
}

.connected-content-button-wrapper:not(.close) .connected-content-button.source:after, .connected-content-button.source:hover:after, .connected-content-button.doc:hover:after  {
  background: rgba(0,0,0,0) url("../assets/show-list-white.svg") no-repeat;
  background-size: 2.5rem;
  background-position: 50% 100%;
}

.connected-content-button.doc {
  background: white url("../assets/doc-icon.svg") no-repeat;
  background-position: 0.9rem 50%;
  background-size: 0.8rem;
}

.connected-content-button-wrapper:not(.close) .connected-content-button.doc, .connected-content-button.doc:hover {
  background: #666666 url("../assets/doc-white-icon.svg") no-repeat;
  background-position: 0.9rem 50%;
  background-size: 0.8rem;
  color: white;
}



.connected-content-button-wrapper {
  position: relative;
  width: min-content;
}



.connected-content-button-wrapper ul {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
  z-index: 1;
}




.connected-content-button-wrapper.close ul {
  display: none;
}




.connected-content-button-wrapper ul button {
  padding: 0.5rem;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: inherit;
  text-align: left;
  background-color: #292F32;
  width: 100%;
}



.connected-content-button-wrapper ul li {
  margin-bottom: 5px;
}

.connected-content-button-wrapper ul li:last-of-type {
  margin-bottom: 0;
}



.connected-content-button-wrapper ul button:hover {
  color: #292F32;
  background-color: white;
}